# 004 List all directors who directed 10 movies or more, in descending order of the number of movies they directed. Return the directors' names and the number of movies each of them directed.

In [1]:
spark

org.apache.spark.sql.SparkSession@543d5bc3

In [2]:
import org.apache.spark.sql.functions._

In [3]:
import org.apache.spark.sql.types._

In [5]:
import org.apache.spark.sql.expressions.Window

In [6]:
val spark=SparkSession.builder().appName("movies app").master("local[*]").getOrCreate()

spark = org.apache.spark.sql.SparkSession@543d5bc3

org.apache.spark.sql.SparkSession@543d5bc3

In [7]:
import spark.implicits._

# UDFs

In [8]:
val getYear=udf((year:String)=>{
    val p="\\d{4}".r
    val yr=p.findFirstMatchIn(year).getOrElse("").toString
    if(yr!=""){
        yr.toInt
    }
    else{
        0
    }
})

getYear = UserDefinedFunction(<function1>,IntegerType,Some(List(StringType)))

UserDefinedFunction(<function1>,IntegerType,Some(List(StringType)))

# loading movies

In [9]:
val Movie=spark.read.option("header","true").csv("/home/use2cobadmin/practice_data/imdb/imdb_csv/Movie.csv")
.dropDuplicates()

Movie = [index: string, MID: string ... 4 more fields]

[index: string, MID: string ... 4 more fields]

# printing table structure to know what are the columns and it's data type

In [10]:
Movie.printSchema

root
 |-- index: string (nullable = true)
 |-- MID: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- num_votes: string (nullable = true)

# Displaying first two records to see sample data
# observation 1: year,rating,num_votes,index columns data types should be Integer
# observation 2: also we need do trim to remove any extra spaces

In [11]:
Movie.show(2)

+-----+---------+-----------------+----+------+---------+
|index|      MID|            title|year|rating|num_votes|
+-----+---------+-----------------+----+------+---------+
|   85|tt3224288|Beyond the Clouds|2017|   7.0|     1123|
|  913|tt2178508|   Son of Sardaar|2012|   4.0|     7895|
+-----+---------+-----------------+----+------+---------+
only showing top 2 rows

# displaying total records in the table

In [12]:
Movie.count

3475

# as per observation need to change the data type

In [13]:
val movies=Movie.withColumn("year",getYear(Movie("year")).cast(IntegerType))
.withColumn("title",trim(Movie("title")))
.withColumn("MID",trim(Movie("MID")))
.withColumn("rating",trim(Movie("rating")).cast(DoubleType))
.withColumn("num_votes",trim(Movie("num_votes")).cast(LongType))
.withColumn("index",trim(Movie("index")).cast(IntegerType))
.dropDuplicates("MID")

movies = [index: int, MID: string ... 4 more fields]

[index: int, MID: string ... 4 more fields]

# now print the schema to verify columns and it's data type

In [14]:
movies.printSchema

root
 |-- index: integer (nullable = true)
 |-- MID: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = false)
 |-- rating: double (nullable = true)
 |-- num_votes: long (nullable = true)

# print the total number of records in the table after data cleaning

In [16]:
movies.count

3475

# show the first two records as a sample data

In [17]:
movies.show(2)

+-----+---------+--------------------+----+------+---------+
|index|      MID|               title|year|rating|num_votes|
+-----+---------+--------------------+----+------+---------+
| 3008|tt0036077|              Kismet|1943|   7.5|       71|
| 2969|tt0102701|Prahaar: The Fina...|1991|   7.9|     1696|
+-----+---------+--------------------+----+------+---------+
only showing top 2 rows

# Load the Person.csv file and it has header and store theses records in Person variable

In [18]:
val Person=spark.read.option("header","true").csv("/home/use2cobadmin/practice_data/imdb/imdb_csv/Person.csv")

Person = [index: string, PID: string ... 2 more fields]

[index: string, PID: string ... 2 more fields]

# Print the schema of Person variable,first two records and it's count

In [19]:
Person.show(2)
Person.printSchema
val p1Count=Person.count

+-----+---------+---------------+------+
|index|      PID|           Name|Gender|
+-----+---------+---------------+------+
|    0|nm0000288| Christian Bale|  Male|
|    1|nm0000949| Cate Blanchett|Female|
+-----+---------+---------------+------+
only showing top 2 rows

root
 |-- index: string (nullable = true)
 |-- PID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)

p1Count = 38285

38285

# Data Cleaning
# change the data types as per data and also remove extra spaces from data

In [20]:
val persons=Person.withColumn("PID",trim(Person("PID")))
.withColumn("Name",trim(Person("Name")))
.withColumn("Gender",trim(Person("Gender")))
.withColumn("index",trim(Person("index")).cast(IntegerType))
.dropDuplicates("PID")

persons = [index: int, PID: string ... 2 more fields]

[index: int, PID: string ... 2 more fields]

# show the sample data, schema and it's count of variable persons

In [21]:
persons.show(2)
persons.printSchema
val p2Count=persons.count

+-----+---------+-------------+------+
|index|      PID|         Name|Gender|
+-----+---------+-------------+------+
|15793|nm0022343|       Alpana|Female|
| 3121|nm0028416|Martin Andris|  Male|
+-----+---------+-------------+------+
only showing top 2 rows

root
 |-- index: integer (nullable = true)
 |-- PID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)

p2Count = 37566

37566

# print the difference between Person and persons records count

In [22]:
val diff=p1Count-p2Count
println(diff+" duplicates found")

719 duplicates found

diff = 719

719

# Load the M_Director.csv file and it's has header

In [23]:
val M_Director=spark.read.option("header","true").csv("/home/use2cobadmin/practice_data/imdb/imdb_csv/M_Director.csv")

M_Director = [index: string, MID: string ... 2 more fields]

[index: string, MID: string ... 2 more fields]

# display sample data, schema and count M_Director variable

In [25]:
M_Director.printSchema
M_Director.show(2)
val m_d1Count=M_Director.count

root
 |-- index: string (nullable = true)
 |-- MID: string (nullable = true)
 |-- PID: string (nullable = true)
 |-- ID: string (nullable = true)

+-----+---------+---------+---+
|index|      MID|      PID| ID|
+-----+---------+---------+---+
|    0|tt2388771|nm0785227|  0|
|    1|tt5164214|nm0002657|  1|
+-----+---------+---------+---+
only showing top 2 rows

m_d1Count = 3475

3475

# Data cleaning for M_Director

# remove duplicate records, change data type from string to appropriate data type and perform trim operation on each column separately

In [26]:
val m_directors=M_Director.withColumn("ID",trim(col("ID")).cast(LongType))
.withColumn("index",trim(col("index")).cast(LongType))
.withColumn("MID",trim(col("MID")))
.withColumn("PID",trim(col("PID")))
.dropDuplicates("MID","PID")
.dropDuplicates("ID")
.dropDuplicates

m_directors = [index: bigint, MID: string ... 2 more fields]

[index: bigint, MID: string ... 2 more fields]

# display sample data, schema and count m_director variable

In [27]:
m_directors.printSchema
m_directors.show(2)
val m_d2Count=m_directors.count

root
 |-- index: long (nullable = true)
 |-- MID: string (nullable = true)
 |-- PID: string (nullable = true)
 |-- ID: long (nullable = true)

+-----+---------+---------+---+
|index|      MID|      PID| ID|
+-----+---------+---------+---+
|   26|tt5074352|nm4318159| 26|
|   29|tt1098327|nm0939128| 29|
+-----+---------+---------+---+
only showing top 2 rows

m_d2Count = 3475

3475

# Display Count difference between M_Director and m_director variables

In [28]:
val diff_m_directors_count=m_d1Count-m_d2Count
println(diff_m_directors_count+" d")

0 d

diff_m_directors_count = 0

0

# Answer director name with count

In [31]:
val director_movie_count=m_directors.groupBy("PID").count().filter($"count">9)
.join(persons,"PID").select("name","count").sort(desc("count"))

director_movie_count.show

+--------------------+-----+
|                name|count|
+--------------------+-----+
|        David Dhawan|   39|
|        Mahesh Bhatt|   35|
|     Ram Gopal Varma|   30|
|        Priyadarshan|   30|
|        Vikram Bhatt|   29|
|Hrishikesh Mukherjee|   27|
|         Yash Chopra|   21|
|      Shakti Samanta|   19|
|     Basu Chatterjee|   19|
|        Subhash Ghai|   18|
|       Shyam Benegal|   17|
|   Rama Rao Tatineni|   17|
|Abbas Alibhai Bur...|   17|
|      Manmohan Desai|   16|
|              Gulzar|   16|
|        Raj N. Sippy|   16|
|          Raj Kanwar|   15|
|    Mahesh Manjrekar|   15|
|   Rajkumar Santoshi|   14|
|          Raj Khosla|   14|
+--------------------+-----+
only showing top 20 rows

director_movie_count = [name: string, count: bigint]

[name: string, count: bigint]

# Validation 1

In [47]:
val dir_with_MID=m_directors.filter($"PID"===persons.filter($"name"==="Rama Rao Tatineni")
                                    .select("PID").first.getString(0))
dir_with_MID.show
dir_with_MID.count

+-----+---------+---------+----+
|index|      MID|      PID|  ID|
+-----+---------+---------+----+
| 2549|tt0085165|nm0851253|2549|
| 1458|tt0110584|nm0851253|1458|
|  734|tt0095440|nm0851253| 734|
| 1476|tt0260345|nm0851253|1476|
| 3318|tt0260222|nm0851253|3318|
| 2197|tt0260066|nm0851253|2197|
|  822|tt0230055|nm0851253| 822|
| 1201|tt0114236|nm0851253|1201|
| 3052|tt0286504|nm0851253|3052|
| 3292|tt0116726|nm0851253|3292|
| 3028|tt0105161|nm0851253|3028|
| 3001|tt0260144|nm0851253|3001|
| 2521|tt0259996|nm0851253|2521|
| 2008|tt0087474|nm0851253|2008|
| 1313|tt0094299|nm0851253|1313|
| 3142|tt0260107|nm0851253|3142|
| 3289|tt0104941|nm0851253|3289|
+-----+---------+---------+----+

dir_with_MID = [index: bigint, MID: string ... 2 more fields]

17